@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');
#title{
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke: .4px black;
}

#empty-list-text{
  display: block;
  text-align: center;
  color: black;
  font-weight: 500;
}


#todo-container{
  background-image: url(/assets/img/hero-image.jpg);
  min-height: 100vh;
  max-height: fit-content;
  background-size: cover;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#todo-area{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  min-height: fit-content;
  border-radius: 12px;
}

#todo-area input{
  background-color: rgba(255, 255, 255, 0.3);
}

.input-group-append button{
  background-color: rgba(255, 255, 255, 0.7);
}

#list li {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  font-weight: 700;
}

#list li button {
  border: 1px solid black;
  font-weight: 600;
}

.delete-item:hover{
  background-color: black;
  color: white;
  transition: .5s ease-in-out;
}